<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stockists>
            <geocode>
                <url>https://maps.googleapis.com/maps/api/geocode/</url>
                <key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </geocode>
        </stockists>
    </default>
</config>
