<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aligent\Stockists\Api\Data\StockistSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Aligent\Stockists\Api\StockistRepositoryInterface"
                type="Aligent\Stockists\Model\StockistRepository" />
    <preference for="Aligent\Stockists\Api\Data\StockistInterface"
                type="Aligent\Stockists\Model\Stockist" />
    <preference for="Aligent\Stockists\Api\GeoSearchCriteriaInterface"
                type="Aligent\Stockists\Model\GeoSearchCriteria" />
    <preference for="Aligent\Stockists\Api\Data\TradingHoursInterface"
                type="Aligent\Stockists\Model\TradingHours" />
    <preference for="Aligent\Stockists\Api\AdapterInterface"
                type="Aligent\Stockists\Model\GoogleMapsAdapter" />
    <preference for="Aligent\Stockists\Api\GeocodeResultInterface"
                type="Aligent\Stockists\Model\GoogleMapsGeocodeResult" />
    <preference for="Aligent\Stockists\Api\StockistValidationInterface"
                type="Aligent\Stockists\Model\StockistValidation" />
    <type name="Aligent\Stockists\Model\Stockist\Hydrator">
        <arguments>
            <argument name="dataProcessors" xsi:type="array">
                <item name="tradingHours" xsi:type="object">Aligent\Stockists\Model\Stockist\DataProcessor\TradingHours</item>
                <item name="coordinate" xsi:type="object">Aligent\Stockists\Model\Stockist\DataProcessor\Coordinate</item>
            </argument>
        </arguments>
    </type>
    <type name="Aligent\Stockists\Model\StockistRepository">
        <plugin sortOrder="1" name="aligentStockistsStockistRepository"
                type="Aligent\Stockists\Plugin\Model\StockistRepositoryPlugin"/>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="aligent_stockists_geocode" xsi:type="object">
                    Aligent\Stockists\Command\GeocodeStockists
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Aligent\Stockists\Model\Stockist\DataProcessor\TradingHours">
        <arguments>
            <argument name="json" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>
</config>
