<?xml version="1.0"?>
<!--
/**
 * Copyright © Aligent Consulting. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Buttons configurations -->
    <virtualType name="Aligent\Stockists\Ui\Component\Control\Stockist\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">stockist_form.stockist_form</argument>
        </arguments>
    </virtualType>
    <type name="Aligent\Stockists\Ui\DataProvider\Stockist">
        <arguments>
            <argument name="json" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>
</config>
