<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aligent" translate="label" sortOrder="9999">
            <label>Aligent</label>
        </tab>
        <section id="stockists" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Stockists</label>
            <tab>aligent</tab>
            <resource>Aligent_Stockists::manage</resource>
            <group id="geocode" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Geocoding</label>
                <field id="url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Geocode URL</label>
                    <comment>Default: https://maps.googleapis.com/maps/api/geocode/</comment>
                </field>
                <field id="key" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="enable_api_biaisng" translate="label comment" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Geocoding API's Region Biasing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[The Geocoding API returns address results biased to the given country and postcode. <a href=https://developers.google.com/maps/documentation/geocoding/requests-geocoding#RegionCodes">Click here</a> for more details.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
